#button {
    margin-left: 205px;
    text-align: center;
    float: left;
    background-color: #7bb84f;
    width: 135px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 3px;
}

// check and finish this button

#button a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}