#our-box-main {
    float: left;
    width: 600px;
    height: 200px;
}


#our-box-main h2{
    margin-top: 71px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    color: #292c34;
}

#our-box-main p{
    width: 445px;
    text-align: center;
    color: #9f9f9f;
    font-weight: lighter;
    margin-left: 76px;
}

